[package]
name = "specta-typescript"
description = "Export your Rust types to TypeScript"
version = "0.0.1"
authors = ["Oscar Beaumont <oscar@otbeaumont.me>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/oscartbeaumont/specta"
documentation = "https://docs.rs/specta-zod/latest/specta-zod"
keywords = ["async", "specta", "rspc", "typescript", "typesafe"]
categories = ["web-programming", "asynchronous"]

[features]
default = []

# TODO: Remove this?
function = ["specta/function"]

[dependencies]
specta = { path = "../specta" }
# TODO: Don't depend on serde
specta-serde = { path = "../specta-serde" }
thiserror = "1.0.61"
